<% include ../layout/header %>

<h2><%= name %>'s photos </h2>

<div class="row">
<% photos.forEach(function(photo, index){ %>
	<div class="col third">
		<div class="photo-box">
			<div class="img" style="background-image:url(/images/<%= photo.filename %>);">
			</div>
			<div class="caption">
				<p> <%= photo.caption %> </p>
			</div>
		</div>
	</div>
<% }); %>
</div>

<% include ../layout/footer %>
