<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Important Business Incorporated </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:700' rel='stylesheet' type='text/css'>
  </head>
  <body>
  	<header>
  		<h1><a href="/index"> Important Business Incorporated </a></h1>
      <% if(!req.session.userId){ %>
  		  <a href="/register"> Register </a>
  		  <a href="/user"> Login </a>
      <% }else { %>
        <a href="<% req.baseUrl %>/user/logout"> Logout </a>
        <a href="<% req.baseUrl %>/upload"> Upload photo </a>
      <% } %>
  	</header>
    <div class="container">
